<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Batch_Rename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Batch_Rename.Properties.Settings>
            <setting name="ScreenW" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ScreenH" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="ScreenL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPreset" serializeAs="String">
                <value />
            </setting>
        </Batch_Rename.Properties.Settings>
    </userSettings>
</configuration>